body{
    font-family: sans-serif;
}

.hidden{
    display: none;
}

#character-img, #saved-character-img{
    height: 350px;
    width: 350px;
}

td{
    justify-content: left;
    vertical-align: top;
}

#0-level-spells{
    border-bottom:1px black solid;
}